@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

/* ------------ GENERAL STYLES ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #232340;
  --grey: #606060;
  /* --light-grey: #8b8b8b; */
  --white: #ffffff;
  --light-yellow: #fbf8f3;
  --yellow: #fde3a7;
  --blue: #5468e7;
}

html {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  color: var(--black);
  line-height: 1.2;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

h3 {
  font-size: 1.1em;
}

p {
  line-height: 1.3;
  color: var(--grey);
}

p.title {
  color: var(--blue);
  font-weight: bold;
}

.fa-solid {
  color: var(--blue);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

/* ------------ NAV BAR ---------------------------------- */
.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 44px 20px 32px;
  background-color: var(--light-yellow);
}

.logo {
  width: 120px;
  margin-top: 10px;
}

.hamburger-menu {
  height: 28px;
  width: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--grey);
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu .line-1 {
  transform-origin: 0% 0%;
}

.hamburger-menu .line-3 {
  transform-origin: 0% 100%;
}

.nav-links {
  display: none;
  gap: 10vh 4vw;
}
/* ------------   MENU ACTIVE ---------------------------------- */
.active {
  position: fixed;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  font-weight: bold;
  font-size: 1.3em;
  background-color: var(--black);
}

.active a {
  color: var(--white);
  padding: initial;
}

.active .line {
  background-color: var(--white);
}

.active .line-1 {
  transform: translate(10px, 5px) rotate(45deg);
}

.active .line-2 {
  transform: translate(10px, 5px) scaleY(0);
}

.active .line-3 {
  transform: translate(10px, 5px) rotate(-45deg);
}

.active .nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* @media screen and (max-width: 900px) and (orientation: landscape) {
  .nav-links {
    row-gap: 50px;
  }
} */

/* ------------   NAV FOR DESKTOP ---------------------------------- */

@media (min-width: 900px) {
  .nav-container {
    padding: 30px 50px;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .nav-links a {
    font-weight: 600;
    color: var(--grey);
  }

  .btn-contact-dark {
    padding: 17px 34px;
    border-radius: 8px;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
  }

  a.btn-contact-dark {
    color: var(--white);
  }
}
/* ------------ HERO SECTION ---------------------------------- */
#hero-section {
  background-color: var(--light-yellow);
  padding: 10px 32px 40px 32px;
}

.hero-illu {
  max-width: 100%;
  margin-bottom: 10px;
  float: right;
}

#hero-section p {
  margin: 10px 0 20px 0;
}

.btn-work {
  display: block;
  background-color: var(--blue);
  color: var(--white);
}

.partner-logo {
  width: 10%;
}

.partners-box {
  display: none;
  justify-content: space-evenly;
  padding: 20px 0;
  margin-top: 30px;
}

/* ------------ HERO FOR TABLET ---------------------------------- */
@media (min-width: 768px) {
  #hero-section {
    padding: 20px 40px 0 40px;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero-rigth,
  .hero-left {
    flex: 1;
  }

  h1 {
    font-size: 2.5em;
  }

  .partners-box {
    display: flex;
  }

  .btn-work {
    display: inline-block;
    width: initial;
  }

  #hero-section p {
    width: 90%;
    margin: 20px 0 30px 0;
  }
}

/* ------------ HERO FOR DESKTOP ---------------------------------- */
@media (min-width: 1024px) {
  #hero-section {
    padding: 20px 100px 0 100px;
  }

  .hero-illu {
    max-width: 80%;
  }

  h1 {
    font-size: 3em;
  }
}
/* ------------ SECTION 1 BENEFITS ---------------------------------- */
#section-1 {
  padding: 40px 32px;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 7vw;
  margin-top: 50px;
}

.benefits-container h3 {
  margin: 10px 0;
}

@media (min-width: 768px) {
  #section-1 {
    padding: 40px 60px;
  }

  .benefits-container {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  #section-1 {
    padding: 40px 100px;
  }
}

/* ------------ SECTION 2 PROJECTS  ---------------------------------- */
.project-img {
  max-width: 100%;
}

#section-2 {
  padding: 40px 32px;
}

.projects-container {
  display: grid;
  margin-top: 6vw;
  row-gap: 30px;
}

.project-5 {
  display: none;
  /* grid-row-start: 2;
    grid-column-start: 3; */
}

.project-6 {
  display: none;
  /* grid-row-start: 4;
    grid-column-start: 3; */
}

@media (min-width: 768px) {
  #section-2 {
    padding: 40px 60px;
  }

  .project-img {
    max-width: 39vw;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
    gap: 0 50px;
  }

  .project-1 {
    grid-row-start: 2;
  }

  .project-2 {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .project-3 {
    grid-row-start: 4;
  }

  .project-4 {
    grid-row-start: 3;
    grid-column-start: 2;
  }
}

p.project-title {
  font-size: 0.8em;
  margin: 5px 0;
}

/* h4 {
  font-size: 1.1em;
} */

@media (min-width: 1024px) {
  #section-2 {
    padding: 40px 100px;
  }

  .project-img {
    max-width: 24vw;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 1fr 40px 40px 1fr;
    gap: 0;
  }

  .project-1 {
    grid-row-start: 1;
  }

  .project-2 {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .project-3 {
    grid-row-start: 3;
    grid-column-start: 3;
  }

  .project-4 {
    grid-row-start: 4;
    grid-column-start: 1;
  }

  .project-5 {
    display: block;
    grid-row-start: 5;
    grid-column-start: 2;
  }

  .project-6 {
    display: block;
    grid-row-start: 6;
    grid-column-start: 3;
  }
}

/* ------------ SECTION 3 TESTIMONIALS ---------------------------------- */
#section-3 {
  padding: 40px 32px;
}
.client-card {
  background-color: var(--light-yellow);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 10vw 2vw;
  margin-top: 30px;
}

.client-img {
  width: 40%;
}

.testimonials-container h3 {
  margin: 10px 0;
}

p.testimonial {
  font-size: 0.9em;
  font-weight: lighter;
  /* margin: 20px 0; */
}

@media (min-width: 768px) {
  #section-3 {
    padding: 40px 60px;
  }
  .testimonials-container {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  #section-3 {
    padding: 40px 100px;
  }

  p.testimonial {
    font-size: 0.9em;
    font-weight: lighter;
    margin: 10px 0;
  }
}
/* ------------ SECTION 4 CALL FOR ACTION ---------------------------------- */
.rocket-img {
  max-width: 15em;
}

#call-section {
  background-color: var(--blue);
  padding: 50px 32px;
}

.call-container {
  display: flex;
  flex-direction: column;
  gap: 15vw;
  align-items: center;
  justify-content: space-between;
}

.call-container h2 {
  color: var(--white);
}

.call-container p {
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
}

.btn-contact-light {
  background-color: var(--white);
  color: var(--black);
  display: block;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
  #call-section {
    margin: 40px 60px;
    border-radius: 20px;
  }

  .rocket-img {
    max-width: 12em;
  }

  .call-container {
    display: flex;
    flex-direction: row;
    gap: 15vw;
  }

  .btn-contact-light {
    display: inline-block;
  }

  .call-container p {
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  #call-section {
    margin: 40px 100px;
  }

  #call-section {
    padding: 50px 5vw;
  }
  .rocket-img {
    max-width: 15em;
  }

  .call-container p {
    max-width: 90%;
  }

  .call-container h2 {
    font-size: 2.5em;
  }
}
/* ------------ FOOTER ---------------------------------- */

#footer {
  background-color: var(--light-yellow);
  padding: 50px 32px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6vw;
}

.footer-container h3 {
  margin: 20px 0;
}

h3.footer-heading {
  margin: 10px 0;
}

.footer-container p {
  /* max-width: 60%; */
  margin-bottom: 10px;
}

.footer-container li {
  color: var(--grey);
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #footer {
    padding: 50px 40px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container div.footer-header {
    flex: 2;
  }

  .footer-container div {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  #footer {
    padding: 50px 100px;
  }
}
