@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

/* ------------ GENERAL STYLES ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #232340;
  --grey: #606060;
  --white: #ffffff;
  --light-yellow: #fbf8f3;
  --yellow: #fde3a7;
  --blue: #5468e7;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var(--black);
  line-height: 1.2;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

h3 {
  font-size: 1.1em;
}

p {
  line-height: 1.3;
  color: var(--grey);
}

p.title {
  color: var(--blue);
  font-weight: bold;
}

.fa-solid {
  color: var(--blue);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
  font-family: "Inter", sans-serif;
}

/* ------------ NAV BAR ---------------------------------- */
.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 44px 20px 32px;
  background-color: var(--light-yellow);
}

.logo {
  width: 120px;
  margin-top: 10px;
}

.hamburger-menu {
  height: 28px;
  width: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--grey);
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu .line-1 {
  transform-origin: 0% 0%;
}

.hamburger-menu .line-3 {
  transform-origin: 0% 100%;
}

.nav-links {
  display: none;
  gap: 10vh 4vw;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--white);
  z-index: 999;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%);
}
/* ------------   MENU ACTIVE ---------------------------------- */
.active {
  position: fixed;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  font-weight: bold;
  font-size: 1.3em;
  background-color: var(--black);
}

.active a {
  color: var(--white);
  padding: initial;
  display: inline;
}

.active .line {
  background-color: var(--white);
}

.active .line-1 {
  transform: translate(10px, 5px) rotate(45deg);
}

.active .line-2 {
  transform: translate(10px, 5px) scaleY(0);
}

.active .line-3 {
  transform: translate(10px, 5px) rotate(-45deg);
}

.active .nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ------------   NAV FOR DESKTOP ---------------------------------- */

@media (min-width: 900px) {
  .nav-container {
    padding: 25px 50px;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-links a {
    font-weight: 600;
    color: var(--grey);
  }

  a.btn-contact-dark {
    color: var(--white);
    background-color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transition: transform 0.1s ease-in-out;
  }
}
/* ------------ HERO SECTION ---------------------------------- */
#hero-section {
  background-color: var(--light-yellow);
  padding: 10px 32px 40px 32px;
}

.hero-illu {
  max-width: 100%;
  margin-bottom: 10px;
  float: right;
}

#hero-section p {
  margin: 10px 0 20px 0;
}

.btn-secondary {
  display: block;
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: transform 0.1s ease-in-out;
}

.partner-logo {
  width: 10%;
}

.partners-box {
  display: none;
  justify-content: space-evenly;
  padding: 20px 0;
  margin-top: 30px;
}

/* ------------ HERO FOR TABLET ---------------------------------- */
@media (min-width: 768px) {
  #hero-section {
    padding: 20px 60px 0 60px;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero-rigth,
  .hero-left {
    flex: 1;
  }

  h1 {
    font-size: 2.5em;
  }

  .partners-box {
    display: flex;
  }

  .btn-secondary {
    display: inline-block;
  }

  #hero-section p {
    width: 90%;
    margin: 20px 0 30px 0;
  }
}

/* ------------ HERO FOR DESKTOP ---------------------------------- */
@media (min-width: 1024px) {
  #hero-section {
    padding: 20px 100px 0 100px;
  }

  .hero-illu {
    max-width: 80%;
  }

  h1 {
    font-size: 3em;
  }
}

/* ------------ SECTION 1 BENEFITS ---------------------------------- */
#section-1 {
  padding: 40px 32px;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 7vw;
  margin-top: 50px;
}

.benefits-container h3 {
  margin: 10px 0;
}

/* ------------ SECTION 1 BENEFITS FOR TABLET ---------------------------------- */
@media (min-width: 768px) {
  #section-1 {
    padding: 40px 60px;
  }

  .benefits-container {
    flex-direction: row;
  }
}

/* ------------ SECTION 1 BENEFITS FOR DESKTOP ---------------------------------- */
@media (min-width: 1024px) {
  #section-1 {
    padding: 40px 100px;
  }
}

/* ------------ SECTION 2 PROJECTS  ---------------------------------- */
#section-2 {
  padding: 40px 32px;
}

.projects-container {
  display: grid;
  margin-top: 6vw;
  row-gap: 30px;
}

.project-img {
  max-width: 100%;
}

.projects-container p {
  font-size: 0.8em;
  margin: 5px 0;
}

.project-5,
.project-6 {
  display: none;
}

/* ------------ SECTION 2 PROJECTS FOR TABLET ---------------------------------- */
@media (min-width: 768px) {
  #section-2 {
    padding: 40px 60px;
  }

  .project-img {
    max-width: 39vw;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 40px 1fr;
    gap: 0 40px;
  }

  .project-1 {
    grid-row-start: 2;
  }

  .project-2 {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .project-3 {
    grid-row-start: 4;
  }

  .project-4 {
    grid-row-start: 3;
    grid-column-start: 2;
  }
}

/* ------------ SECTION 2 PROJECTS FOR DESKTOP ---------------------------------- */
@media (min-width: 1024px) {
  #section-2 {
    padding: 40px 100px;
  }

  .project-img {
    max-width: 24vw;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 1fr 40px 40px 1fr;
    gap: 0;
  }

  .project-1 {
    grid-row-start: 1;
  }

  .project-2 {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .project-3 {
    grid-row-start: 3;
    grid-column-start: 3;
  }

  .project-4 {
    grid-row-start: 4;
    grid-column-start: 1;
  }

  .project-5 {
    display: block;
    grid-row-start: 5;
    grid-column-start: 2;
  }

  .project-6 {
    display: block;
    grid-row-start: 6;
    grid-column-start: 3;
  }
}

/* ------------ SECTION 3 TESTIMONIALS ---------------------------------- */
#section-3 {
  padding: 40px 32px;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 10vw 2vw;
  margin-top: 30px;
}

.client-card {
  background-color: var(--light-yellow);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}

.client-img {
  width: 40%;
}

.testimonials-container h3 {
  margin: 10px 0;
}

.testimonials-container p {
  font-size: 0.9em;
  font-weight: lighter;
}

/* ------------ SECTION 3 TESTIMONIALS FOR TABLET ---------------------------------- */
@media (min-width: 768px) {
  #section-3 {
    padding: 40px 60px;
  }

  .testimonials-container {
    flex-direction: row;
  }
}

/* ------------ SECTION 3 TESTIMONIALS FOR DESKTOP ---------------------------------- */
@media (min-width: 1024px) {
  #section-3 {
    padding: 40px 100px;
  }

  .testimonials-container p {
    margin: 10px 0;
  }
}

/* ------------ SECTION 4 CALL FOR ACTION ---------------------------------- */
#call-section {
  background-color: var(--blue);
  padding: 50px 32px;
}

.call-container {
  display: flex;
  flex-direction: column;
  gap: 15vw;
  align-items: center;
  justify-content: space-between;
}

.rocket-img {
  max-width: 15em;
}

.call-container h2 {
  color: var(--white);
}

.call-container p {
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
}

.btn-contact-light {
  background-color: var(--white);
  color: var(--black);
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: transform 0.1s ease-in-out;
}

/* ------------ SECTION 4 CALL FOR TABLET ---------------------------------- */
@media (min-width: 768px) {
  #call-section {
    margin: 40px 60px;
    border-radius: 20px;
  }

  .call-container h2 {
    font-size: 2em;
  }

  .rocket-img {
    max-width: 12em;
  }

  .call-container {
    flex-direction: row;
  }

  .btn-contact-light {
    display: inline-block;
  }

  .call-container p {
    max-width: 90%;
    margin: 30px 0;
  }
}

/* ------------ SECTION 4 CALL FOR DESKTOP ---------------------------------- */
@media (min-width: 1024px) {
  #call-section {
    margin: 40px 100px;
    padding: 50px 5vw;
  }

  .rocket-img {
    max-width: 15em;
  }

  .call-container h2 {
    font-size: 2.5em;
  }
}

/* ------------ FOOTER ---------------------------------- */
#footer {
  background-color: var(--light-yellow);
  padding: 50px 32px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6vw;
}

.footer-container h3 {
  margin: 20px 0;
}

h3.footer-heading {
  margin: 10px 0;
}

.footer-container p {
  margin-bottom: 10px;
}

.footer-container li {
  color: var(--grey);
  margin-bottom: 10px;
  cursor: pointer;
}

/* ------------ FOOTER FOR TABLET ---------------------------------- */
@media (min-width: 768px) {
  #footer {
    padding: 50px 60px;
  }

  .footer-container {
    flex-direction: row;
  }

  .footer-container div.footer-header {
    flex: 2;
  }

  .footer-container div {
    flex: 1;
  }
}

/* ------------ FOOTER FOR DESKTOP ---------------------------------- */
@media (min-width: 1024px) {
  #footer {
    padding: 50px 100px;
  }
}

/* ------------ HOVER STATES ---------------------------------- */
.btn:hover {
  transform: scale(1.1);
}

.footer-container li:hover {
  color: var(--black);
  transform: translate(7px, 0) scale(1.1);
}

@media (min-width: 900px) {
  .nav-links li:hover {
    transform: scale(1.1);
  }

  .nav-links a:not(.btn):hover {
    color: var(--black);
  }
}

@media (min-width: 1024px) {
  .frame {
    max-width: 24vw;
    overflow: hidden;
    border-radius: 20px;
  }

  .frame img {
    transition: transform 0.5s ease;
  }

  .frame:hover img {
    transform: scale(1.5);
  }
}

/* ------------ CONTACT US PAGE ---------------------------------- */
input,
textarea {
  background-color: var(--light-yellow);
  width: 70%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  margin: 5px 0 15px 0;
}

.contact-elements {
  /* padding: 40px 32px; */
}

.contact-elements h1 {
  font-size: 1.5em;
  margin: 5px 0;
}

label {
  color: var(--black);
}

.contact-elements header {
  margin-bottom: 40px;
}

.connect-illu {
  max-width: 90%;
}

.connect-illu-container {
  background: linear-gradient(#ffffff 50%, var(--yellow) 50%);
  text-align: center;
}

.contact-after {
  display: none;
}

@media (min-width: 768px) {
  .contact-container {
    display: flex;
  }

  .connect-illu-container {
    background: linear-gradient(to right, #ffffff 50%, var(--yellow) 50%);
    display: flex;
    align-items: center;
    flex: 1;
  }

  .contact-elements {
    flex: 1;
    align-self: center;
    margin: 7vw 0 7vw 5vw;
  }

  .connect-illu {
    max-width: 70%;
  }
  input,
  textarea {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .contact-container {
    height: 100vh;
  }
}
